<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://user.fontawesome.com/releases/v5.0.8/css/solid.css">

    <style>
        .image-bg {
            background-image: url('https://i.imgur.com/Xc46GEN.png');
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: fixed;
            min-width: 100%;
            min-height: 100%;
        }
        .card-horizontal {
            display: flex;
            flex: 1 1 auto;
        }

        .main-section {
            margin: 0 auto;
            margin-top: 50px;
        }

        .modal-content {
            opacity: .9;
            padding: 0 10px;
            border-radius: 18px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group input {
            border-radius: 15px;
            font-size: 20px;
        }

        .form-group button {
            border-radius: 15px;
        }


    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/}">
        <img src="https://i.imgur.com/t9gh16j.png" alt="logo" style="width:110px; ">
    </a>
    <div class="pull-right ml-auto" style="width:100%;">
        <a class="btn btn-outline-light mr-2 " th:href="@{/upload}">Upload meme</a>
        <a th:href="@{/}" class="btn btn-danger ml-">Main page</a>
    </div>
</nav>

<div class="image-bg">
    <div class=" modal-dialog modal-xl">
        <div class="main-section">
            <div class="modal-content ">
                <br>

                <ul class="nav nav-pills" style="margin-left:12px" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#reportedPosts">Reported posts</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="pill" href="#reportedComments">Reported comments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="pill" href="#manageUsers">Manage users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-toggle="pill" href="#managePosts">Manage posts</a>
                    </li>
                </ul>

                <div class="tab-content mt-3 ml-3 mr-3 mb-3"  >
                    <div id="reportedPosts" class="tab-pane fade in active" >
                        <table clss="table table-light"  style="width:100%">
                            <tbody th:each="temp : ${reportedFiles}">
                            <td>

                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-12 mt-3">
                                            <div class="card">
                                                <div class="card-horizontal">
                                                    <div class="img-square-wrapper">
                                                        <img class="" th:src="${temp.filePath}" alt="Card image cap">
                                                    </div>
                                                    <div class="card-body">
                                                        <h4 class="card-title"><span th:text="${temp.fileTitle}"/></h4>
                                                        <p class="card-text">
                                                        <h6><small>Added by user:</small> <span th:text="${temp.addingUser}"/></h6>
                                                        <h6><small>Reported by user:</small> <span th:text="${temp.reportingUser}"/>
                                                        </h6>
                                                        <h6><small> Link:</small> <span th:text="${temp.filePath}"/></h6>
                                                        </p>
                                                        <div class="media border border-dark p-2"><a class="btn btn-danger" href="#">Delete</a>
                                                            <div class="media border border-dark p-2"><a class="btn btn-dark" href="#">Ban</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>
                            </tbody>
                        </table>
                    </div>

                    <div id="reportedComments" class="tab-pane fhttps://i.imgur.com/OdQBLei.pngade in active">
                        comms
                    </div>

                    <div id="manageUsers" class="tab-pane fade in active">
                        users
                    </div>

                    <div id="managePosts" class="tab-pane fade in active">
                        posts
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

</div>
</body>