<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Error</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#accessDeniedModal').modal('show');
            setTimeout(function(){
                $('#accessDeniedModal').modal('hide');
            });
        });
    </script>
</head>
<body>
<div class="container">
    <div class="modal fade" data-backdrop="static" id="accessDeniedModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Error!</h4>
                </div>
                <div class="alert alert-danger" style="margin-top:10px">
                    Your token's evaluation time probably has expired, or you have invalid token.
                    Or you do not have enough priviliges to open this page

                    Please take your action one more time or contact support.
                </div>
                <div class="modal-footer">
                    <a th:href="@{/}" type="button" class="btn btn-outline-danger">Main page</a>
                    <a th:href="@{/login} " type="button" class="btn btn-outline-danger"> Log in</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>
