<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        .card-footer small{
            border-radius: 35px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/}">
        <img src="https://i.imgur.com/t9gh16j.png" alt="logo" style="width:110px;">
    </a>
    <div class="pull-right ml-auto" style="width:100%;">
        <a th:href="@{/add-meme}" class="btn btn-outline-light mr-2">Upload meme </a>
        <a th:href="@{/login}" class="btn btn-danger ml-">Log in</a>
        <a th:href="@{/account}" class="btn btn-danger">Account</a>
    </div>
    </div>
    </div>
</nav>
<div class="container mt-3">

    <table div class="table table-light">
        <thead>
        <tr>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="temp : ${files}">
            <td>
                <div class="container col-sm-8 mt-2" >
                    <div class="card mb-2">
                        <div class="card-header">
                            <h5 class="card-title">Title</h5>
                            <p class="card-text">Added by kamila</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                        <div class="card-body">
                            <img class="card-img-top" th:src="${temp.path}" alt="" style="size:auto;">
                        </div>
                        <div class="card-footer" style="">
                            <small class="btn btn-primary">Like  <span class="badge badge-light">0</span></small>
                            <small class="btn btn-danger" style="color:white">Dislike  <span class="badge badge-light">0</span></small>
                            <small class="btn btn-warning">Save to cubby</small>
                            <small class="btn btn-success">Download</small>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>
