<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/}">
        <img src="https://i.imgur.com/t9gh16j.png" alt="logo" style="width:110px;">
    </a>
    <div class="pull-right ml-auto" style="width:100%;">
        <a th:href="@{/add-meme}" class="btn btn-outline-light mr-2">Upload meme </a>
        <a th:href="@{/login}" class="btn btn-danger ml-">Log in</a>
        <a th:href="@{/account}" class="btn btn-danger">Account</a>
    </div>
        </div>
    </div>

</nav>

Logged user: <span sec:authentication="name"></span>
Roles: <span sec:authentication="principal.authorities"></span>

<div th:if="${session.account}" >
    <p th:text="'First name: ' + ${session.account.name} + ', Email: ' + ${session.account.email}"></p>
</div>

</body>
</html>
